<h1>New User</h1>

<%= form_with model: @user do |form| %>
  <p>
    <%= form.label :username, "Your user name here:" %>
    <%= form.text_field :username, placeholder: "Bob the builder" %>
  </p>

  <p>
    <%= form.label :email, "Put a valid email:" %>
    <%= form.email_field :email, placeholder: "bob@example.com" %>
  </p>

  <p>
    <%= form.label :password, "Create a strong password:" %>
    <%= form.password_field :password %>
  </p>

  <p>
    <%= form.button %>
  </p>
<% end %>
